<ul class="unstyled topic-list">
    {{#each news}}
    <li>
        <a title="{{this.title}}" href="/news/{{this.docid}}">
          <img class="lazy" src="/img/grey.gif" data-original="{{miniImg this.cover '200x150'}}" alt="{{this.title}}">
          <noscript><img src="{{miniImg this.cover '200x150'}}" alt="{{this.title}}"></noscript>
        </a>
        <h3><a target="_blank" href="/news/{{docid}}" class="bigger-size">
            {{this.title}}
        </a></h3>
        <time>{{dateFormat this.time}}</time>
         <span class="view-count"><strong>{{#if this.views}}{{this.views}}{{else}}2{{/if}}</strong> 人围观,</span> <span class="ds-thread-count" data-thread-key="{{docid}}"></span>
         <span class="download">,<a title="下载txt" href="/d/{{docid}}.txt">下载({{#if download}}{{download}}{{else}}0{{/if}})</a></span>
        <a target="_blank" href="/news/{{docid}}"><p>{{{digest}}} ...</p></a>
    </li>
    {{/each}}

</ul>